user:
###任务
我会给你小说的剧情和正文，需要你将剧情和正文对应上。

###剧情
{% for chunk in plot_chunks %}  
（{{ loop.index }}）{{ chunk }} 
{% endfor %}

###正文
{% for chunk in text_chunks %}  
（{{ loop.index }}）{{ chunk }}
{% endfor %}

###输出格式
//以JSON格式输出
{ 
"1": [1, 2, ...], //在列表中依次填写剧情段1对应的一个或多个连续的正文段序号
"2": [...], //在列表中依次填写剧情段2对应的一个或多个连续的正文段序号
... //对每个剧情段都需要填写其对应的正文段序号，每个序号只能提及一次
}
