user:
###任务
我会给你参考材料和问题，需要你选出对于给定问题最具有参考价值的参考材料。

###参考材料
{% for chunk in references %}  
（{{ loop.index }}）{{ chunk }} 
{% endfor %}

###问题
{{question}}

###输出格式
//以JSON格式输出
{ 
"TOP-{{topk}}": [?, ?, ...] //在列表中按重要性从高到低依次填写{{topk}}个参考材料的序号，填序号即可。
}
