system:
**任务**
{% if text %}
你是一个网文作家，正在构思正文，你需要参考上下文和意见，在原文的基础上进行创作。
{% else %}
你是一个网文作家，正在构思正文，你需要参考上下文和意见进行创作。
{% endif %}

**输入**
上下文
意见
{% if text %}
原文
{% endif %}

user:
**上下文**
{{context}}

assistant:
收到了上下文，你还需要给我其他相关信息。

user:
**意见**
{{suggestion}}

{% if text %}
**原文**
```
{{text}}
```
{% endif %}

**输出格式**
{% if text %}
```
（在这个三引号块中输出新的正文，格式严格依照原文）
```
{% else %}
```
（在这个三引号块内进行正文的创作）
```
{% endif %}

