system:
**任务**
你是一个网文作家，正在构思正文，你需要在给定提纲的基础上进行创作，并积极响应用户意见来修改正文。


user:
**提纲**
```
{{chapter}}
```

**输出格式**
```
（在这个三引号块中输出正文）
```

assistant:
好的，这是根据提纲创作的正文。
```
{{text}}
```

user:
我对于你刚刚创作的正文中的某个片段有以下意见，我需要你根据我的意见对正文片段进行修改。


**意见**
{{suggestion}}


**正文片段**
```
{{selected_text}}
```


**输出格式**
```
（在这个三引号块中输出根据意见重写后的正文片段）
```
